#include "resource.h"
#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

IDI_APP_ICON ICON "resources\\app_icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "com.example" "\0"
            VALUE "FileDescription", "TechInventory App" "\0"
            VALUE "FileVersion", "1.0.0.1" "\0"
            VALUE "InternalName", "tech_inventory" "\0"
            VALUE "LegalCopyright", "Copyright (C) 2026" "\0"
            VALUE "OriginalFilename", "tech_inventory.exe" "\0"
            VALUE "ProductName", "tech_inventory" "\0"
            VALUE "ProductVersion", "1.0.0.1" "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
